@import "../../base-styles/init/init";

// Responsive 3-column grid
//
// The `.layout-3col` layout is a responsive grid layout that is:
// - 1 column at mobile sizes.
// - 2 columns at tablet sizes.
// - 3 columns at desktop sizes.
//
// The `.layout-3col` class is used on the container div for the layout. A *grid
// item* in the container can be created using the following class:
// - `.layout-3col__col` : 1-column wide grid item spanning  1 åcolumn.
//
// .layout-3col--only-desktop-3 - 3 columns only on desktop. There is no intermediate 2 column step.
// .layout-3col--no-tablet-break - 3 columns on tablet. There is no intermediate 2 column step.
// .layout-3col--with-horizontal-gutters - Gutters on both sides, needs wrapper with overflow hidden (like layout-center).
// .layout-3col--with-vertical-gutters - Gutters on top and bottom.


.layout-3col,
%layout-3col {
  min-width: 100%;

  // Two columns
  @include breakpoint($tablet) {
    display: flex;
    flex-wrap: wrap;

    &--col,
    &__col {
      width: (100 / 2) * 1%;
      float: left;
      //flex-grow: 2; // If a column is missing it will grow to cover it.
    }
  }

  // --no-tablet-break variant. It makes the 3 columns appear on tablet.
  // There is no intermediate 2 column step.
  &--no-tablet-break {
    %layout-3col__col,
    .layout-3col--col,
    .layout-3col__col {
      @include breakpoint($tablet) {
        width: (100 / 3) * 1%;

        &:nth-child(3n + 1) {
          clear: left;
        }
      }
    }
  }

  // --only-desktop-3 variant. It makes the 3 columns appear on desktop.
  // There is no intermediate 2 column step.
  &--only-desktop-3 {
    %layout-3col__col,
    .layout-3col--col,
    .layout-3col__col {
      @include breakpoint($tablet ($desktop - 1px)) {
        width: 100%;
        float: none;
      }
    }
  }

  @include breakpoint($tablet ($desktop - 1px)) {
    &--col,
    &__col {
      &:nth-child(2n + 1) {
        clear: left;
      }
    }
  }

  // Three columns.
  @include breakpoint($desktop) {
    &--col,
    &__col {
      width: (100 / 3) * 1%;

      &:nth-child(3n + 1) {
        clear: left;
      }
    }
  }

  // Variant with horizontal gutters.
  &--with-horizontal-gutters {
    // Two columns.
    @include breakpoint($tablet ($desktop-large - 1px)) {
      margin-left: -$gutters-tablet / 2;
      margin-right: -$gutters-tablet / 2;

      .layout-3col,
      %layout-3col {
        &--col,
        &__col {
          padding-left: $gutters-tablet / 2;
          padding-right: $gutters-tablet / 2;
        }
      }
    }

    // Three columns.
    @include breakpoint($desktop-large) {
      margin-left: -$gutters-desktop / 2;
      margin-right: -$gutters-desktop / 2;

      .layout-3col,
      %layout-3col {
        &--col,
        &__col {
          padding-left: $gutters-desktop / 2;
          padding-right: $gutters-desktop / 2;
        }
      }
    }
  }

  // Variant with top and bottom gutters.
  &--with-vertical-gutters {
    padding-top: $gutters-mobile / 2;
    padding-bottom: $gutters-mobile / 2;

    .layout-3col,
    %layout-3col {
      &--col,
      &__col {
        padding-top: $gutters-mobile / 2;
        padding-bottom: $gutters-mobile / 2;
      }
    }

    // Two columns.
    @include breakpoint($tablet) {
      padding-top: $gutters-tablet / 2;
      padding-bottom: $gutters-tablet / 2;

      .layout-3col,
      %layout-3col {
        &--col,
        &__col {
          padding-top: $gutters-tablet / 2;
          padding-bottom: $gutters-tablet / 2;
        }
      }
    }

    @include breakpoint($desktop-large) {
      padding-top: $gutters-desktop / 2;
      padding-bottom: $gutters-desktop / 2;

      .layout-3col,
      %layout-3col {
        &--col,
        &__col {
          padding-top: $gutters-desktop / 2;
          padding-bottom: $gutters-desktop / 2;
        }
      }
    }
  }
}
