@import './../../base-styles/init/init.scss';

/*
  Channel logo with it's title underneath.
*/

.communication-channel {
  text-align: center;

  &__image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;

    &-wrapper {
      width: 64px;
      height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 18px;
    }
  }

  &__title {
    @include font-size(20px);
    display: block;
    width: 100%;
    color: black;
  }
}
