@import './../../base-styles/init/init';

/*
  Adds basic style for a filter component.
*/

.filter {
  background-color: color('white');
  display: inline-block;
  padding: 15px;
}

.filter--toggle {
  display: flex;
}
