/*
  The banner at the top of the pages.

  --home, the banner at the home page.
  --organizations, the banner at the organizations page.
*/
.top-banner {
  width: 100;

  &__image {
    width: 100%;
  }

  &--home {
    margin-bottom: 56px;
  }

  &--organizations {
    margin-bottom: 80px;
  }
}
