// Unlike most other components, the CSS for this component is included with the
// base.css styles as it is needed for the `button` element.

// Button
//
// In addition to the default styling of `<button>` and
// `<input type="submit|image|reset|button">` elements, the `.button` class and
// its variants can apply buttons styles to various elements (like an `<a>`
// link).
//
// :hover  - Hover styling.
// :active - Depressed button styling.
// .button--disabled - Disabled button style.
// .button--submit - Submit button style.
// .button--reset - Reset button style.
// .button--small - Small button style.
// .button--cta - Call to action button style.
// .button--full - Full width button style.
// .button--header - Header button style.


// 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
//    controls in Android 4.
// 2. Correct the inability to style clickable types in iOS and Safari.
.button,
%button,
button,
  // 1
html [type='button'],
[type='reset'],
[type='submit'] {
  -moz-appearance: none; // sass-lint:disable-line no-vendor-prefixes
  // 2
  -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
}

.button,
%button,
button,
[type='button'],
[type='reset'],
[type='submit'] {
  @extend %button--disabled;
  @include font-size(20px);
  @include line-height(24px);
  font-weight: 600;
  letter-spacing: .9px;
  // Some styles don't apply to <a> links since they are inline elements by default.
  display: inline-block;
  padding: 13px;
  text-decoration: none;
  // Improve usability and consistency of cursor style between image-type `input` and others.
  cursor: pointer;
  color: color('button');
  background-color: color('button-bg');
  border-radius: 6px;
  box-shadow: none;
  border: 0;
  transition: .2s cubic-bezier(.190, 1.000, .220, 1.000); /* easeOutExpo */

  // Remove the inner border and padding in Firefox.
  &::-moz-focus-inner { // sass-lint:disable-line no-vendor-prefixes
    border-style: none;
    padding: 0;
  }

  // Restore the focus styles unset by the previous rule.
  &:-moz-focusring { // sass-lint:disable-line no-vendor-prefixes
    outline-color: transparent;
  }

  &:hover,
  &:focus {
    // Override any link underlines and color changes.
    text-decoration: none;
    color: color(button);
    background-color: mix(color('black'), color('button-bg'), 30%);
    outline-color: transparent;
  }

  &:active {
    // Override any link underlines and color changes.
    text-decoration: none;
    color: color(button);
    background-color: mix(color('black'), color('button-bg'), 60%);
    outline-color: transparent;
  }
}

// Add button variations here.
.button,
%button {
  &--submit {
    @extend %button--small;
    color: color('button-submit');
    background-color: color('button-submit-bg');
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);

    &:hover,
    &:focus {
      color: color('button-submit');
      background-color: mix(color('black'), color('button-submit-bg'), 30%);
    }

    &:active {
      color: color('button-submit');
      background-color: mix(color('black'), color('button-submit-bg'), 60%);
    }
  }

  &--reset {
    @extend %button--small;
    color: color('button-reset');
    background-color: color('button-reset-bg');
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);

    &:hover,
    &:focus {
      color: color('button-reset');
      background-color: color('button-reset-bg-hover');
    }

    &:active {
      color: color('button-reset');
      background-color: color('button-reset-bg');
    }

  }

  &--cta {
    @include font-size(32px);
    @include line-height(43px);
    letter-spacing: 0;
    padding: 16px 45px 18px;
  }

  &--full {
    width: 100%;
  }

  &--small {
    @include font-size(12px);
    @include line-height(21px);
    padding: 8px 17px;
    border-radius: 2px;
    letter-spacing: 0;
  }

  &--x-small {
    @include font-size(11px);
    @include line-height(6px);
    padding: 8px 10px;
    border-radius: 2px;
    letter-spacing: 0;
  }

  &--header {
    @include font-size(18px);
    @include line-height(24px);
    padding: 5px 13px 7px;
    font-weight: normal;
    letter-spacing: .3px;
    color: color('button-header');

    &:hover,
    &:focus,
    &:active,
    .active {
      color: color('button-header-hover');
    }

  }
}

// Extend button variants.
[type='submit'] {
  @extend %button--submit;
}

[type='reset'] {
  @extend %button--reset;
}

// The disabled variation should always go last, so that it overrides any
// other variations.
%button--disabled[disabled] {
  // Re-set default cursor for disabled elements.
  cursor: default;
  color: color(button-disabled);
  background-color: color(button-disabled-bg);

  &:hover,
  &:focus,
  &:active {
    // Override any link underlines and color changes.
    color: color(button-disabled);
    background-color: color(button-disabled-bg);
  }

  &[type='reset'] {
    background-color: color('button-reset-disabled-bg');
    color: color('button-reset-disabled');

    &:hover,
    &:focus,
    &:active {
      background-color: color('button-reset-disabled-bg');
      color: color('button-reset-disabled');
    }
  }
}

// Link that looks like button but has no class itself.
.button-link,
%button-link {
  a {
    @extend %button;
  }
}
