@import './../../base-styles/init/init.scss';

// overide layout-2col__col paddings
.layout-2col__col.member-training-resources {
  padding-top: 0;
  padding-bottom: 0;
}

.member-training-resources {
  @include margin-top(25px);

  p {
    @include margin(0);
    @include margin-top(14px);
  }

  &__content {
    @include padding-bottom(25px);
    display: flex;
  }

  &__wrapper-link {
    padding: 0;
  }

  &__image-wrapper {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }

  &__text {
    @include padding-top(5px);
    @include padding-left(23px);
    display: flex;
    flex-direction: column;
    color: color('grey-dark');
    width: 100%;

    &:last-child {
      @include margin(0);
    }
  }

  &__inner {
    display: flex;
  }

  &__list {
    display: flex;
  }

  &__list-wrapper {
    margin-top: 35px;
  }
}
