// Headings
//
// All headings are normalized to have the same appearance.
// All HTML headings, `<h1>` through `<h6>`, are available. `%h1` through `%h6`
// classes are also available, for when you want to match the font styling of a
// heading but still want your text to be displayed inline.

// Address variable `h1` font-size and margin within `section` and `article`
// contexts in Firefox 4+, Safari, and Chrome.
h1,
%h1 {
  @include typeface(title);
  @include font-size(36px);
  @include line-height(54px);
  color: color('title');
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

h2,
%h2 {
  @include typeface(title);
  @include font-size(20px);
  @include line-height(30px);
  color: color('title');
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

h3,
%h3 {
  @include typeface(title);
  @include font-size(17px);
  @include line-height(19px);
  letter-spacing: 0.5px;
  color: color('title');
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

h4,
%h4,
h5,
%h5,
h6,
%h6 {
  @include typeface(title);
  @include font-size($base-font-size);
  @include line-height($base-line-height);
  color: color('title');
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}
