@import "../../base-styles/init/init";

.layout-custom-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $gutters-mobile;

  &__item {
    &--1 {
      background-color: red;
      grid-row: 1 / span 2;
      grid-column: 1;
    }

    &--2 {
      background-color: green;
      grid-column: 2;
    }

    &--3 {
      background-color: blue;
      grid-column: 2;
      grid-row: 2 / span 2;
    }

    &--4 {
      background-color: pink;
      grid-column: 1;
      grid-row: 3;
    }

    &--5 {
      background-color: orange;
      grid-row: 4 / span 2;
      grid-column: 1 / span 2;
    }

    &--6 {
      background-color: yellow;
      grid-row: 6;
      grid-column: 1 / span 2;
    }
  }

  @include breakpoint($desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: $gutters-desktop;

    &__item {
      &--2 {
        grid-row: 3;
        grid-column: 3;
      }

      &--3 {
        grid-column: 4;
        grid-row: 2 / span 2;
      }

      &--4 {
        grid-column: 4;
        grid-row: 1;
      }

      &--5 {
        grid-row: 1 / span 2;
        grid-column: 2 / span 2;
      }

      &--6 {
        grid-row: 3;
        grid-column: 1 / span 2;
      }
    }
  }
}
