@import './../../base-styles/init/init';

// Shadow box component.
// Adds styling to elements with shadow and white background.
.shadow-box,
%shadow-box {
  background: color('white');
  box-shadow: 0 1px 4px 0 color('black'); // Fallback.
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
  border-radius: 4px;
  padding: 15px 20px;
  display: block;

  &--zero-radius {
    border-radius: 0;
  }

  &--zero-padding {
    padding: 0;
  }

  &--small-paddings {
    padding: 10px;
  }

  a & {
    &:hover,
    &:focus {
      cursor: pointer;
    }
  }
}
