// Text-level semantics
//
// The elements in this section give semantics to inline text.

// Abbreviation / Acroynym
//
// The `<abbr>` element makes the meanings of abbreviations and acronyms visible
// on hover.

abbr[title] {
  // Remove the bottom border in Firefox <40.
  border-bottom: 0;
  // Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
  text-decoration: underline;

  @media print {
    // Add visible title after abbreviations.
    &::after {
      content: ' (' attr(title) ')';
    }
  }
}

// Bold
//
// The `<strong>` element or the `<b>` element is for emphasizing a snippet of
// text with a heavier font-weight.
//
// Feel free to use `<b>` in HTML5. `<b>` is meant to highlight words or phrases
// without conveying additional importance.

// Prevent the duplicate application of `bolder` by the next rule in Safari 6.

b,
strong {
  font-weight: inherit;
}

// sass-lint:disable no-mergeable-selectors
strong,
b {
  // Add the correct font weight in Chrome, Edge, and Safari.
  font-weight: bolder;
}
// sass-lint:enable no-mergeable-selectors

// Cite
//
// The `<cite>` element represents a reference to a creative work.

cite { // sass-lint:disable-line no-empty-rulesets
  // Add your styles.
}

// Code
//
// The `<code>` element represents a fragment of computer code. The `<var>`
// element represents a variable. The `<samp>` element represents (sample)
// output from a program or computing system. The `<kbd>` element represents
// user input (typically keyboard input.)

%monospace,
code,
kbd,
samp,
var {
  // Correct the inheritance and scaling of font size in all browsers.
  // The font-family value ends with ", serif".
  @include typeface(monospace);
  // Correct the odd `em` font sizing in all browsers.
  font-size: 1em;
}

// Deleted text
//
// The `<del>` element indicates blocks of text that have been deleted.

del { // sass-lint:disable-line no-empty-rulesets
  // Add your styles.
}

// Definition
//
// The `<dfn>` element represents the defining instance of a term.

dfn {
  // Add the correct font style in Android <4.4.
  font-style: italic;
}

// Italics
//
// The `<em>` element or the `<i>` element is used for emphasizing a snippet of
// text with italics.
//
// Feel free to use `<i>` element in HTML5. `<i>` is meant to convey voice,
// technical terms, etc.

i,
em { // sass-lint:disable-line no-empty-rulesets
  // Add your styles.
}

// Inserted text
//
// The `<ins>` element indicates additions to the document.

ins { // sass-lint:disable-line no-empty-rulesets
  // Add your styles.
}

// Marked text
//
// The `<mark>` element highlights a run of text due to its relevance in another
// context.

mark {
  // Add the correct background and color in IE <10.
  background-color: color(mark-bg);
  color: color(text);
}

// Quote
//
// The `<q>` element represents an inline quote from another source. Longer
// quotes should use the `<blockquote>` element.

q { // sass-lint:disable-line no-empty-rulesets
  // Add your styles.
}

// Strikethrough text
//
// The `<s>` element indicates blocks of text that are no longer relevant.

s { // sass-lint:disable-line no-empty-rulesets
  // Add your styles.
}

// Small text
//
// For de-emphasizing inline or blocks of text, use the `<small>` element to set
// text at 80% the size of the parent.

small {
  // Add the correct font size in all browsers.
  @include font-size(s);
}

// Superscript / Subscript
//
// The `<sup>` element represents a superscript and the `<sub>` element
// represents a subscript.

sub,
sup {
  // Prevent `sub` and `sup` elements from affecting the line height in
  // all browsers.
  @include font-size(xs);
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

// Underlined text
//
// To underline text use the `<u>` element. Not recommended since underlines are
// used by web browsers to style hyperlinks.
//
// Markup: text-u.twig
//
// Style guide: base.text.u

u { // sass-lint:disable-line no-empty-rulesets
  // Add your styles.
}


// Text
//
// Text styles used.
//
// .text--xsmall - Xsmall text.
// .text--small - Small text.
// .text--large - Large text.
// .text--xlarge - XLarge text.
// .text--xxlarge - XXLarge text.
//
.text,
%text {
  @include font-size($base-font-size);
  @include line-height($base-line-height);
  @include margin-top(1);
  @include margin-bottom(1);

  p,
  ul,
  ol {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--xsmall {
    @include font-size(13px);
    @include line-height(17px);
  }

  &--small {
    @include font-size(15px);
    @include line-height(21px);
  }

  &--medium {
    @include font-size(16px);
    @include line-height(24px);
  }

  &--large {
    @include font-size(21px);
    @include line-height(26px);
  }

  &--xlarge {
    @include font-size(26px);
    @include line-height(32px);
  }

  &--xxlarge {
    @include font-size(36px);
    @include line-height(46px);
  }
}
