@import './../../base-styles/init/init.scss';

/*
  
*/

.external-link-box {
  width: 100%;
  margin-bottom: 15px;

  &__wrapper-link {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;

  }

  &__image-wrapper {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

  &__image {
    width: auto;
    max-width: 100px;
    height: auto;
    max-height: 45px;
  }

  &__text {
    @include font-size(14px);
    @include line-height(11px);
    width: 100%;
    display: block;
    padding: 10px;
    background-color: color('grey-dark-another');
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &__title {

  }

  &__date {
    display: block;
    text-align: right;
    color: color('grey-another');
  }

  &__list {
    display: flex;
  }

  &__list-wrapper {
    margin-top: 35px;
  }

  &__url {
    @include font-size(10px);
    @include line-height(11px);
    display: block;
  }
}
