@import './../base-styles/init/init';
@import './../base-styles/base/normalize';

.faq {

  &__header {
    text-align: center;
    margin-bottom: 84px;
  }

  &__title {
    @extend %title;
  }

  &__subtitle {
    @extend %highlighted-text;
  }

  &__group {
    margin-bottom: 31px;
  }

  &__group-header {
    width: 100%;
    text-align: center;
    padding-top: 15px;
  }

  &__item {

  }

  &__item-content {
    color: color('grey');
  }

  &__item-title {
    @extend %text;
    @extend %text--medium;
  }

  &__footer {
    text-align: center;
    color: color('light-navy');
    @include margin-top(90px);
  }

  &__footer-title {
    @include font-size(28px);
    @include line-height(35px);
  }

  &__footer-text {
    @include font-size(20px);
  }
}
