.image-box {
  position: relative;

  height: 0;
  padding-top: 100%;
  overflow: hidden;

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }

  &__text {
    position: absolute;
    z-index: 1;
    bottom: 40px;

    span {
      display: block;
    }
  }

  &--tall {
    padding-top: 200%;
  }
}
