// sass-lint:disable indentation, no-color-keywords

// Colors
//
// Use the `color()` function to add colors to CSS properties. To learn more,
// [read the Chroma documentation](http://johnalbin.github.io/chroma/).
//
// Markup: chroma.twig
//
// Weight: -1
//
// Style guide: sass.colors

// Define the default color scheme's color names.
$chroma: define-default-color-scheme('branding', 'The site main colors. Can be used to define colors in other color schemes.');

$chroma: add-colors((
        black:                  #000,
        grey-dark-another:      #D8D8D8,
        grey-dark:              #262626,
        'grey':                 #4A4A4A,
        grey-another:           #9b9b9b,
        grey-underline:         #e6e6e6,
        grey-light:             #ABABAB,
        grey-another-extra-light: #E3E3E3,
        grey-extra-light:       #D2D2D2,
        grey-mozilla:           #38383d,
        brown-grey:             #929292,

        white:                  #FFF,
        off-white:              #F5F7F0,

        light-navy:             #122E63,
        dark-sky-blue:          #4A90E2,
        blue-light:             #12CACB,

        light-green:            #D6F2E9,
        red:                    #C00,
        grapefruit:             #FF5D5D,
        sunny-yellow:           #F8E71C,

        seafoam-blue:           #59E1CF,
        topaz:                  #12B3BC,

        violet-blue:            #6806BD,
        violet:                 #9013FE,
));

// Define color names for functional uses.
$chroma: define-color-scheme('functional', 'Colors used by functional parts of the design.');
$chroma: add-colors('functional', (
  // Colors used in the main content area.
        brand:                  'light-navy',
        brand-secondary:        'grey-light',

        light:                  'white',
        dark:                   'black',

        text:                   'grey-dark',
        text-bg:                'off-white',

        slice-bg:               'grey-dark-another',
        slice-bg-light:         'white',

        title:                  'brand',

        link:                   'light-navy',
        link-visited:           'light-navy',
        link-active:            mix(black, #122E63, 30%),

        border:                 'grey-light',
        border-hover:           'dark', // Applies at form items.
        border-focus:           'brand', // Applies at form items.
        border-disabled:        'grey-extra-light', // Applies at form items.

        autocomplete:           'text',
        autocomplete-bg:        'text-bg',
        autocomplete-select:    'white',
        autocomplete-select-bg: 'light-navy',

        body-bg:                'text-bg',

        button:                 'brand',
        button-bg:              'seafoam-blue',
        button-disabled:        light,
        button-disabled-bg:     'grey-extra-light',
        button-submit:          'seafoam-blue',
        button-submit-bg:       'brand',
        button-reset:           'brand',
        button-reset-bg-hover:     'seafoam-blue',
        button-reset-bg:        light,
        button-reset-disabled:        'grey-extra-light',
        button-reset-disabled-bg:     light,
        button-header:          'grey',
        button-header-hover:    'white',


        fieldset-summary:       'grey',
        form-error:             'red',
        form-disabled:          'grey-extra-light',

        mark-highlight:         'red',
        mark-bg:                'sunny-yellow',

        menu-active:            'text',

        preview-bg:             lighten(color('sunny-yellow'), 47%),

        progress-bar:           'light-navy',
        progress-bar-bg:        'grey-light',
        progress-bar-border:    'grey-dark',

        resizable-grippie:      'grey-extra-light',

        row-stripe:             'grey-extra-light',
        row-disabled:           'grey-light',

        skip-link:              'white',
        skip-link-bg:           'grey-dark',

        status:                 'light-navy',
        status-bg:              mix(white, color('light-navy'), 82%),
        status-highlight:       text,
        warning:                text,
        warning-bg:             mix(white, color('sunny-yellow'), 85%),
        warning-border:         'sunny-yellow',
        error:                  'red',
        error-bg:               mix(white, color(red), 85%),

        tabs-border:            'border',
        tabs-bg:                'text-bg',
        tab:                    'text',
        tab-text-shadow:        'white',
        tab-bg:                 lighten(color(grey-light), 6.66%),
        tab-secondary:          'grey-dark',

        table-drag:             lighten(color('sunny-yellow'), 47%),
        table-select:           lighten(color('sunny-yellow'), 47%),

        watermark:              'grey-extra-light',

        footer-bg-dark:         'light-navy',
        footer-bg-light:        'blue-light',

        navigation:             'grey',
        navigation-hover:       'brand',

        highlighted-text:        'brand',
));

$chroma-active-scheme: 'functional';
