@import './../../base-styles/init/init';

.member {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 330px;
  text-align: center;

  &__name {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 275px;
    word-wrap: break-word;
  }

  &__image-wrapper {
    margin-top: -20%;
    width: 136px + 16px;
    height: 136px + 16px;
    border: 1px solid color('grey-another-extra-light');
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    background-color: color('white');
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);

  }

  &__image-inner {
    width: 136px + 14px;
    height: 136px + 14px;
    border-radius: 100%;
    border: 7px solid color('white');
    overflow: hidden;
  }

  &__image {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }

  &__location {
    @include margin-top(8px);
    max-width: 275px;
    margin-left: auto;
    margin-right: auto;
    opacity: .6;
  }

  &__description {
    @include margin-top(19px);
    max-width: 275px;
    margin-left: auto;
    margin-right: auto;
  }

  &__club {
    @include margin-top(64px);
    @include margin-bottom(58px);
    max-width: 275px;
    margin-left: auto;
    margin-right: auto;
  }

  &__link-prefix {
    color: rgba(0,0,0,0.25);
  }

  &__link {
    @include margin-top(12px);
    max-width: 275px;
    word-break: break-all;
    margin-left: auto;
    margin-right: auto;


    &--personal-page {
      @include margin-bottom(26px);
    }
  }

  &__link-content {
    font-weight: 600;
  }

  &__icon {
    @include margin-right(10px);
    width: 24px;
    height: 24px;
    color: color('light-navy');
  }

  &__button-list {
    @include margin-top(23px);
  }

  &__button {
    @include margin(10px);
    @include margin-top(35px);

    svg,
    span {
      vertical-align: middle;
    }

    span {
      display: inline-block;
      padding-left: 8px;
    }
  }

  &__form-input {
    padding: 0;
  }
}
