@import './../../base-styles/init/init.scss';

.promoted-box {
  padding: 22px 35px 40px;
  background-color: color('light-green');
  display: inline-block;

  &__title {
    @include font-size(20px);
    @include line-height(27px);
    font-family: $open-sans;
    font-weight: 600;
    text-align: left;
    padding-bottom: 5px;
    letter-spacing: 0;
  }

  &__content {
    margin: 0;
    padding: 0;
  }

  &__item {
    margin-top: 12px;
    counter-increment: step-counter;
    list-style: none;
    position: relative;

    &::before {
      content: counter(step-counter);
      color: color('light-navy');
      opacity: 0.3;
      font-size: 16px;
      line-height: 20px;
      font-weight: 800;
      border: 2px solid color('light-navy');
      border-radius: 100%;
      width: 25px;
      height: 25px;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      margin-right: 5px;
      box-sizing: border-box;
      opacity: .3;

    }

    &::after {
      content: '';
      box-sizing: border-box;
      position: absolute;
      width: 25px;
      height: 25px;
      background-color: color('light-navy');
      border-radius: 100%;
      opacity: 0.1;
      top: 0;
      left: 0;

    }

    &:nth-child(1) {
      &::after {
        top: 1px;
        left: 4px;
      }
    }

    &:nth-child(2) {
      @include margin-left(45px);

      &::after {
        top: 2px;
        left: -2px;
      }
    }

    &:nth-child(3) {
      &::after {
        top: 0px;
        left: 3px;
      }
    }

    &:nth-child(4) {
      @include margin-left(25px);
      
      &::after {
        top: -1px;
        left: -3px;
      }
    }
  }
}
