@import './../../base-styles/init/init.scss';

.leader-tools-list {
    @include margin-top(23px);

    &__title {
      @include margin-top(20px);
    }

    &__title-icon {
      @include margin-right(10px);
      vertical-align: top;
      width: 26px;
      height: 26px;
    }

    &__content-wrapper {
      @include margin-left(36px); // icon-width + icon padding
    }
}
